# Data Cleaning for House Price Prediction

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
df_train = pd.read_csv('drive/My Drive/Pytorch_DataSet/house-prices/train.csv')
df_test = pd.read_csv('drive/My Drive/Pytorch_DataSet/house-prices/test.csv')

In [8]:
len(df_train), len(df_test)

(1460, 1459)

In [16]:
"""
Taking only those columns for training that have different values, 
so we will not take columns having a single value repeated by 90% of the length of dataset(in both train and test).
"""
cols = []

for col in df_train.columns:

  if col != 'SalePrice':

    train_col = df_train[col].value_counts()
    test_col  = df_test[col].value_counts()
    max_train_col = max(train_col)
    max_test_col = max(test_col)

    print(train_col)
    print("Max value count = ",max_train_col)
    print('\n<------------------x----------------->\n')

    if (max_train_col > 0.85*len(df_train)) and (max_test_col > 0.85*len(df_test)):
      pass
    else:
      cols.append(col)

1460    1
479     1
481     1
482     1
483     1
       ..
976     1
977     1
978     1
979     1
1       1
Name: Id, Length: 1460, dtype: int64
Max value count =  1

<------------------x----------------->

20     536
60     299
50     144
120     87
30      69
160     63
70      60
80      58
90      52
190     30
85      20
75      16
45      12
180     10
40       4
Name: MSSubClass, dtype: int64
Max value count =  536

<------------------x----------------->

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64
Max value count =  1151

<------------------x----------------->

60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
        ...
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 110, dtype: int64
Max value count =  143

<------------------x----------------->

7200     25
9600     24
6000     17
10800    14
9000     14
         ..
7094      1
6130      1
9337      1
5232      1
8190      1
Name: LotArea, Length: 1073, dtype: int64
Max value count =  25

<------------------x----------------->

Pave    1454
Grvl       6
Name: Street, dtype: int64
Max value count =  1454

<------------------x----------------->

Grvl    50
Pave    41
Name: Alley, dtype: int64
Max value count =  50

<------------------x----------------->

Reg    925
IR1    484
IR2     41
IR3     10
Name: LotShape, dtype: int64
Max value count =  925

<------------------x----------------->

Lvl    1311
Bnk      63
HLS      50
Low      36
Name: LandContour, dtype: int64
Max value count =  1311

<------------------x----------------->

AllPub    1459
NoSeWa       1
Name: Utilities, dtype: int64
Max value count =  1459

<------------------x----------------->

Inside     1052
Corner      263
CulDSac      94
FR2          47
FR3           4
Name: LotConfig, dtype: int64
Max value count =  1052

<------------------x----------------->

Gtl    1382
Mod      65
Sev      13
Name: LandSlope, dtype: int64
Max value count =  1382

<------------------x----------------->

NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
SWISU       25
StoneBr     25
Blmngtn     17
MeadowV     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: Neighborhood, dtype: int64
Max value count =  225

<------------------x----------------->

Norm      1260
Feedr       81
Artery      48
RRAn        26
PosN        19
RRAe        11
PosA         8
RRNn         5
RRNe         2
Name: Condition1, dtype: int64
Max value count =  1260

<------------------x----------------->

Norm      1445
Feedr        6
PosN         2
Artery       2
RRNn         2
PosA         1
RRAe         1
RRAn         1
Name: Condition2, dtype: int64
Max value count =  1445

<------------------x----------------->

1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: BldgType, dtype: int64
Max value count =  1220

<------------------x----------------->

1Story    726
2Story    445
1.5Fin    154
SLvl       65
SFoyer     37
1.5Unf     14
2.5Unf     11
2.5Fin      8
Name: HouseStyle, dtype: int64
Max value count =  726

<------------------x----------------->

5     397
6     374
7     319
8     168
4     116
9      43
3      20
10     18
2       3
1       2
Name: OverallQual, dtype: int64
Max value count =  397

<------------------x----------------->

5    821
6    252
7    205
8     72
4     57
3     25
9     22
2      5
1      1
Name: OverallCond, dtype: int64
Max value count =  821

<------------------x----------------->

2006    67
2005    64
2004    54
2007    49
2003    45
        ..
1906     1
1911     1
1913     1
1917     1
1872     1
Name: YearBuilt, Length: 112, dtype: int64
Max value count =  67

<------------------x----------------->

1950    178
2006     97
2007     76
2005     73
2004     62
       ...
2010      6
1983      5
1952      5
1986      5
1951      4
Name: YearRemodAdd, Length: 61, dtype: int64
Max value count =  178

<------------------x----------------->

Gable      1141
Hip         286
Flat         13
Gambrel      11
Mansard       7
Shed          2
Name: RoofStyle, dtype: int64
Max value count =  1141

<------------------x----------------->

CompShg    1434
Tar&Grv      11
WdShngl       6
WdShake       5
ClyTile       1
Metal         1
Membran       1
Roll          1
Name: RoofMatl, dtype: int64
Max value count =  1434

<------------------x----------------->

VinylSd    515
HdBoard    222
MetalSd    220
Wd Sdng    206
Plywood    108
CemntBd     61
BrkFace     50
WdShing     26
Stucco      25
AsbShng     20
Stone        2
BrkComm      2
AsphShn      1
ImStucc      1
CBlock       1
Name: Exterior1st, dtype: int64
Max value count =  515

<------------------x----------------->

VinylSd    504
MetalSd    214
HdBoard    207
Wd Sdng    197
Plywood    142
CmentBd     60
Wd Shng     38
Stucco      26
BrkFace     25
AsbShng     20
ImStucc     10
Brk Cmn      7
Stone        5
AsphShn      3
Other        1
CBlock       1
Name: Exterior2nd, dtype: int64
Max value count =  504

<------------------x----------------->

None       864
BrkFace    445
Stone      128
BrkCmn      15
Name: MasVnrType, dtype: int64
Max value count =  864

<------------------x----------------->

0.0      861
72.0       8
180.0      8
108.0      8
120.0      7
        ...
651.0      1
337.0      1
415.0      1
293.0      1
621.0      1
Name: MasVnrArea, Length: 327, dtype: int64
Max value count =  861

<------------------x----------------->

TA    906
Gd    488
Ex     52
Fa     14
Name: ExterQual, dtype: int64
Max value count =  906

<------------------x----------------->

TA    1282
Gd     146
Fa      28
Ex       3
Po       1
Name: ExterCond, dtype: int64
Max value count =  1282

<------------------x----------------->

PConc     647
CBlock    634
BrkTil    146
Slab       24
Stone       6
Wood        3
Name: Foundation, dtype: int64
Max value count =  647

<------------------x----------------->

TA    649
Gd    618
Ex    121
Fa     35
Name: BsmtQual, dtype: int64
Max value count =  649

<------------------x----------------->

TA    1311
Gd      65
Fa      45
Po       2
Name: BsmtCond, dtype: int64
Max value count =  1311

<------------------x----------------->

No    953
Av    221
Gd    134
Mn    114
Name: BsmtExposure, dtype: int64
Max value count =  953

<------------------x----------------->

Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
Name: BsmtFinType1, dtype: int64
Max value count =  430

<------------------x----------------->

0       467
24       12
16        9
20        5
686       5
       ...
1032      1
1022      1
599       1
1018      1
1904      1
Name: BsmtFinSF1, Length: 637, dtype: int64
Max value count =  467

<------------------x----------------->

Unf    1256
Rec      54
LwQ      46
BLQ      33
ALQ      19
GLQ      14
Name: BsmtFinType2, dtype: int64
Max value count =  1256

<------------------x----------------->

0       1293
180        5
374        3
551        2
93         2
        ...
532        1
544        1
546        1
547        1
1474       1
Name: BsmtFinSF2, Length: 144, dtype: int64
Max value count =  1293

<------------------x----------------->

0       118
728       9
384       8
572       7
600       7
       ...
731       1
730       1
726       1
725       1
2046      1
Name: BsmtUnfSF, Length: 780, dtype: int64
Max value count =  118

<------------------x----------------->

0       37
864     35
672     17
912     15
1040    14
        ..
1463     1
1459     1
1454     1
1019     1
2046     1
Name: TotalBsmtSF, Length: 721, dtype: int64
Max value count =  37

<------------------x----------------->

GasA     1428
GasW       18
Grav        7
Wall        4
OthW        2
Floor       1
Name: Heating, dtype: int64
Max value count =  1428

<------------------x----------------->

Ex    741
TA    428
Gd    241
Fa     49
Po      1
Name: HeatingQC, dtype: int64
Max value count =  741

<------------------x----------------->

Y    1365
N      95
Name: CentralAir, dtype: int64
Max value count =  1365

<------------------x----------------->

SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: Electrical, dtype: int64
Max value count =  1334

<------------------x----------------->

864     25
1040    16
912     14
848     12
894     12
        ..
1285     1
1287     1
1288     1
1297     1
2053     1
Name: 1stFlrSF, Length: 753, dtype: int64
Max value count =  25

<------------------x----------------->

0       829
728      10
504       9
672       8
546       8
       ...
788       1
1116      1
1112      1
1111      1
1872      1
Name: 2ndFlrSF, Length: 417, dtype: int64
Max value count =  829

<------------------x----------------->

0      1434
80        3
360       2
528       1
53        1
120       1
144       1
156       1
205       1
232       1
234       1
371       1
572       1
390       1
392       1
397       1
420       1
473       1
479       1
481       1
513       1
514       1
515       1
384       1
Name: LowQualFinSF, dtype: int64
Max value count =  1434

<------------------x----------------->

864     22
1040    14
894     11
848     10
1456    10
        ..
3447     1
1396     1
1395     1
1393     1
2054     1
Name: GrLivArea, Length: 861, dtype: int64
Max value count =  22

<------------------x----------------->

0    856
1    588
2     15
3      1
Name: BsmtFullBath, dtype: int64
Max value count =  856

<------------------x----------------->

0    1378
1      80
2       2
Name: BsmtHalfBath, dtype: int64
Max value count =  1378

<------------------x----------------->

2    768
1    650
3     33
0      9
Name: FullBath, dtype: int64
Max value count =  768

<------------------x----------------->

0    913
1    535
2     12
Name: HalfBath, dtype: int64
Max value count =  913

<------------------x----------------->

3    804
2    358
4    213
1     50
5     21
6      7
0      6
8      1
Name: BedroomAbvGr, dtype: int64
Max value count =  804

<------------------x----------------->

1    1392
2      65
3       2
0       1
Name: KitchenAbvGr, dtype: int64
Max value count =  1392

<------------------x----------------->

TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64
Max value count =  735

<------------------x----------------->

6     402
7     329
5     275
8     187
4      97
9      75
10     47
11     18
3      17
12     11
14      1
2       1
Name: TotRmsAbvGrd, dtype: int64
Max value count =  402

<------------------x----------------->

Typ     1360
Min2      34
Min1      31
Mod       15
Maj1      14
Maj2       5
Sev        1
Name: Functional, dtype: int64
Max value count =  1360

<------------------x----------------->

0    690
1    650
2    115
3      5
Name: Fireplaces, dtype: int64
Max value count =  690

<------------------x----------------->

Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: FireplaceQu, dtype: int64
Max value count =  380

<------------------x----------------->

Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: int64
Max value count =  870

<------------------x----------------->

2005.0    65
2006.0    59
2004.0    53
2003.0    50
2007.0    49
          ..
1908.0     1
1927.0     1
1933.0     1
1900.0     1
1906.0     1
Name: GarageYrBlt, Length: 97, dtype: int64
Max value count =  65

<------------------x----------------->

Unf    605
RFn    422
Fin    352
Name: GarageFinish, dtype: int64
Max value count =  605

<------------------x----------------->

2    824
1    369
3    181
0     81
4      5
Name: GarageCars, dtype: int64
Max value count =  824

<------------------x----------------->

0       81
440     49
576     47
240     38
484     34
        ..
754      1
459      1
458      1
756      1
1418     1
Name: GarageArea, Length: 441, dtype: int64
Max value count =  81

<------------------x----------------->

TA    1311
Fa      48
Gd      14
Ex       3
Po       3
Name: GarageQual, dtype: int64
Max value count =  1311

<------------------x----------------->

TA    1326
Fa      35
Gd       9
Po       7
Ex       2
Name: GarageCond, dtype: int64
Max value count =  1326

<------------------x----------------->

Y    1340
N      90
P      30
Name: PavedDrive, dtype: int64
Max value count =  1340

<------------------x----------------->

0      761
192     38
100     36
144     33
120     31
      ...
269      1
265      1
263      1
260      1
215      1
Name: WoodDeckSF, Length: 274, dtype: int64
Max value count =  761

<------------------x----------------->

0      656
36      29
48      22
20      21
40      19
      ...
159      1
156      1
148      1
142      1
119      1
Name: OpenPorchSF, Length: 202, dtype: int64
Max value count =  656

<------------------x----------------->

0      1252
112      15
96        6
120       5
144       5
       ...
174       1
177       1
183       1
189       1
552       1
Name: EnclosedPorch, Length: 120, dtype: int64
Max value count =  1252

<------------------x----------------->

0      1436
168       3
216       2
144       2
180       2
245       1
238       1
290       1
196       1
182       1
407       1
304       1
162       1
153       1
320       1
140       1
130       1
96        1
23        1
508       1
Name: 3SsnPorch, dtype: int64
Max value count =  1436

<------------------x----------------->

0      1344
192       6
224       5
120       5
189       4
       ...
182       1
440       1
178       1
312       1
480       1
Name: ScreenPorch, Length: 76, dtype: int64
Max value count =  1344

<------------------x----------------->

0      1453
738       1
648       1
576       1
555       1
519       1
512       1
480       1
Name: PoolArea, dtype: int64
Max value count =  1453

<------------------x----------------->

Gd    3
Ex    2
Fa    2
Name: PoolQC, dtype: int64
Max value count =  3

<------------------x----------------->

MnPrv    157
GdPrv     59
GdWo      54
MnWw      11
Name: Fence, dtype: int64
Max value count =  157

<------------------x----------------->

Shed    49
Othr     2
Gar2     2
TenC     1
Name: MiscFeature, dtype: int64
Max value count =  49

<------------------x----------------->

0        1408
400        11
500         8
700         5
450         4
2000        4
600         4
1200        2
480         2
1150        1
800         1
15500       1
620         1
3500        1
560         1
2500        1
1300        1
1400        1
350         1
8300        1
54          1
Name: MiscVal, dtype: int64
Max value count =  1408

<------------------x----------------->

6     253
7     234
5     204
4     141
8     122
3     106
10     89
11     79
9      63
12     59
1      58
2      52
Name: MoSold, dtype: int64
Max value count =  253

<------------------x----------------->

2009    338
2007    329
2006    314
2008    304
2010    175
Name: YrSold, dtype: int64
Max value count =  338

<------------------x----------------->

WD       1267
New       122
COD        43
ConLD       9
ConLw       5
ConLI       5
CWD         4
Oth         3
Con         2
Name: SaleType, dtype: int64
Max value count =  1267

<------------------x----------------->

Normal     1198
Partial     125
Abnorml     101
Family       20
Alloca       12
AdjLand       4
Name: SaleCondition, dtype: int64
Max value count =  1198

<------------------x----------------->

In [17]:
len(cols)

55

In [0]:
# Removing the cols that have null values greater than 80% of len(train and test dataset)

for col in df_train.columns:

  if col != 'SalePrice':
    
    null_for_train_col = df_train[col].isnull().sum()
    null_for_test_col = df_test[col].isnull().sum()

    if null_for_train_col > 0.8*len(df_train) and null_for_test_col > 0.8*len(df_test):

      if col in cols:
        cols.remove(col)

In [22]:
len(cols)

51

In [24]:
print(cols)

['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'LotShape', 'LotConfig', 'Neighborhood', 'BldgType', 'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'Foundation', 'BsmtQual', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtUnfSF', 'TotalBsmtSF', 'HeatingQC', '1stFlrSF', '2ndFlrSF', 'GrLivArea', 'BsmtFullBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenQual', 'TotRmsAbvGrd', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', 'MoSold', 'YrSold', 'SaleCondition']

In [41]:
# For train file

print(" For Training Set \n")
print("Column Name     Null Count    Col Type\n")
for col in cols:
  if df_train[col].isnull().sum() > 0:
    print(f'{col:>{10}}  {df_train[col].isnull().sum():>{10}}          {df_train[col].dtype}')

print("\n<-------------------x---------------->\n")
# For test file

print(" For Test Set \n")

print("Column Name     Null Count    Col Type\n")
for col in cols:
  if df_test[col].isnull().sum() > 0:
    print(f'{col:>{10}}  {df_test[col].isnull().sum():>{10}}          {df_test[col].dtype}')

 For Training Set

Column Name     Null Count    Col Type

LotFrontage         259          float64
MasVnrType           8          object
MasVnrArea           8          float64
  BsmtQual          37          object
BsmtExposure          38          object
BsmtFinType1          37          object
BsmtFinType2          38          object
FireplaceQu         690          object
GarageType          81          object
GarageYrBlt          81          float64
GarageFinish          81          object

<-------------------x---------------->

 For Test Set

Column Name     Null Count    Col Type

  MSZoning           4          object
LotFrontage         227          float64
Exterior1st           1          object
Exterior2nd           1          object
MasVnrType          16          object
MasVnrArea          15          float64
  BsmtQual          44          object
BsmtExposure          44          object
BsmtFinType1          42          object
BsmtFinSF1           1          float64
BsmtFinType2          42          object
 BsmtUnfSF           1          float64
TotalBsmtSF           1          float64
BsmtFullBath           2          float64
KitchenQual           1          object
FireplaceQu         730          object
GarageType          76          object
GarageYrBlt          78          float64
GarageFinish          78          object
GarageCars           1          float64
GarageArea           1          float64

In [42]:
df_train.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [57]:
for col in cols:
  if df_train[col].isnull().sum()>0:
    print(df_train[col].value_counts())
    print('\n<------------------x----------------->\n')

60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
        ...
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 110, dtype: int64

<------------------x----------------->

None       864
BrkFace    445
Stone      128
BrkCmn      15
Name: MasVnrType, dtype: int64

<------------------x----------------->

0.0      861
72.0       8
180.0      8
108.0      8
120.0      7
        ...
651.0      1
337.0      1
415.0      1
293.0      1
621.0      1
Name: MasVnrArea, Length: 327, dtype: int64

<------------------x----------------->

TA    649
Gd    618
Ex    121
Fa     35
Name: BsmtQual, dtype: int64

<------------------x----------------->

No    953
Av    221
Gd    134
Mn    114
Name: BsmtExposure, dtype: int64

<------------------x----------------->

Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
Name: BsmtFinType1, dtype: int64

<------------------x----------------->

Unf    1256
Rec      54
LwQ      46
BLQ      33
ALQ      19
GLQ      14
Name: BsmtFinType2, dtype: int64

<------------------x----------------->

Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: FireplaceQu, dtype: int64

<------------------x----------------->

Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: int64

<------------------x----------------->

2005.0    65
2006.0    59
2004.0    53
2003.0    50
2007.0    49
          ..
1908.0     1
1927.0     1
1933.0     1
1900.0     1
1906.0     1
Name: GarageYrBlt, Length: 97, dtype: int64

<------------------x----------------->

Unf    605
RFn    422
Fin    352
Name: GarageFinish, dtype: int64

<------------------x----------------->

In [53]:
df_train['LotFrontage'].mean(), df_train['LotFrontage'].median()

(70.04995836802665, 69.0)

In [54]:
df_train['MasVnrArea'].mean(), df_train['MasVnrArea'].median()

(103.68526170798899, 0.0)

In [0]:
# Filling up of null values

# For train set
df_train['LotFrontage'].fillna(df_train['LotFrontage'].median(),inplace=True)
df_train['MasVnrType'].fillna('None',inplace=True)
df_train['MasVnrArea'].fillna(df_train['MasVnrArea'].median(),inplace=True)